[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cnc/Desktop/linuxcnc]
row=3
col=0

[/home/cnc/Desktop/Backup]
row=8
col=0

[/home/cnc/Desktop/log]
row=7
col=1

[/home/cnc/Desktop/tet.py]
row=5
col=0

[/home/cnc/Desktop/Códigos]
row=1
col=1

[/home/cnc/Desktop/erro_python.png]
row=4
col=1

[/home/cnc/Desktop/i2c_read]
row=2
col=1

[/home/cnc/Desktop/test]
row=3
col=1

[/home/cnc/Desktop/i2c_rasp.comp]
row=5
col=1

[/home/cnc/Desktop/TrialBot]
row=4
col=0

[/home/cnc/Desktop/i2c_read.c]
row=0
col=1

[/home/cnc/Desktop/TrialBot.desktop]
row=7
col=0

[/home/cnc/Desktop/test.py]
row=6
col=1

[/home/cnc/Desktop/TrialCopy]
row=6
col=0

[12FF-1B19]
row=8
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/cnc]
row=2
col=0

